{% extends 'masterpage.html' %}
{% load static %}
{% block 'js' %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
{% block 'css' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}

{% block 'main' %}
<!--================================
        START BREADCRUMB AREA
    =================================-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="index-2.html">Home</a>
                        </li>
                        <li>
                            <a href="dashboard.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <a href="#">Statement</a>
                        </li>
                    </ul>
                </div>
                <h1 class="page-title">Sales Statements</h1>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
        END BREADCRUMB AREA
    =================================-->

<!--================================
            START DASHBOARD AREA
    =================================-->
<section class="dashboard-area">
    <div class="dashboard_menu_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="dashboard_menu">
                        <li>
                            <a href="dashboard.html">
                                <span class="lnr lnr-home"></span>Dashboard</a>
                        </li>
                        <li>
                            <a href="dashboard-setting.html">
                                <span class="lnr lnr-cog"></span>Setting</a>
                        </li>
                        <li>
                            <a href="dashboard-purchase.html">
                                <span class="lnr lnr-cart"></span>Purchase</a>
                        </li>
                        <li>
                            <a href="dashboard-add-credit.html">
                                <span class="lnr lnr-dice"></span>Add Credits</a>
                        </li>
                        <li class="active">
                            <a href="dashboard-statement.html">
                                <span class="lnr lnr-chart-bars"></span>Statements</a>
                        </li>
                        <li>
                            <a href="dashboard-upload.html">
                                <span class="lnr lnr-upload"></span>Upload Items</a>
                        </li>
                        <li>
                            <a href="dashboard-manage-item.html">
                                <span class="lnr lnr-briefcase"></span>Manage Items</a>
                        </li>
                        <li>
                            <a href="dashboard-withdrawal.html">
                                <span class="lnr lnr-briefcase"></span>Withdrawals</a>
                        </li>
                    </ul>
                    <!-- end /.dashboard_menu -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.dashboard_menu_area :) -->

    <div class="dashboard_contents dashboard_statement_area">
        <!-- <div class="container"> -->


            <div class="row">
                <div class="col-md-12">
                    <div class="statement_table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <!-- <th>Date</th> -->
                                    <th>Order ID</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for orders in order %}
                                <tr>
                                    <td>{{ orders.order_id  }}</td>
                                    <td>{{ orders.name  }}</td>
                                    <td >{{ orders.mobile  }}</td>
                                    <td >{{ orders.email  }}</td>
                                    
                                    <td >
                                        {{ orders.status }}
                                    </td>
                                    <td >
                                        {{ orders.orderdatetime|date:"d-m-Y" }}
                                    </td>
                                    
                                    <td>{{ orders.city_id.cityname }}</td>
                                    
                                    <td class="action">
                                        <a href="/item/{{orders.order_id}}">view</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>

                        
                    </div>
                </div>
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.dashboard_menu_area -->
</section>
<!--================================
            END DASHBOARD AREA
    =================================-->


{% endblock %}